$color-principal: rgb(17, 73, 146);
$color-secundario: rgb(70, 135, 196);
$color-noche: rgb(82, 209, 82);

$color-fondo: rgb(228, 228, 228);
$color-texto: rgb(24, 24, 24);

$color-react: rgb(22, 136, 243);
$color-angular: rgb(221, 0, 49);
$color-laravel: rgb(243, 80, 69);
$color-node: rgb(148, 194, 41);
$color-vue: rgb(65, 183, 130);

// Fuentes

$fuente-titulos: 'Montserrat', sans-serif;
$fuente-textos: 'Muli', sans-serif;