.jumbotron {
    background-image: url('../img/header.jpeg');

    .container {
        background-color: rgba($color: #000000, $alpha: 0.75);

        h1 {
            color: $color-principal;
            font-weight: 700;
        }

        h2 {
            color: $color-secundario;
            font-weight: 400;
            font-size: 2.8em;
        }
    }
}


#tucuman {
    color: $color-secundario;
    font-weight: 500;
}

.anio {
    color: $color-secundario;
    font-weight: 800;
}