
  .wrapper {
    overflow-x: hidden;
}

h2 {
  font-weight: 600;
}

.card {
  background-color: lighten($color-fondo,2%);
  color: $color-texto;
}

.row {
  max-width: 70%;
  margin: 0 auto;
}

.card-img-top {
  padding-top: 1em;
  margin: 0 auto;
  max-width: 128px;
  border-radius: 50%;
}

.card-title {
  font-size: 1.5em;
}



.badge {
  background-color: darken($color-principal,15%);
  color: lighten($color-secundario,10%);
  font-size: 1.1em;
  margin: auto 1em;
}

.titulo-charla {
  font-size: 1.8em;
}

.list-group {
  max-width: 70%;
  margin: 0 auto;
}

.list-group-item {
  background-color: ligthten($color-fondo,5%);
  color: $color-texto;
}

.color {
  &-react {
    color: $color-react;
  }
  &-angular {
    color: $color-angular;
  }
  &-laravel {
    color: $color-laravel;
  }
  &-node {
    color: $color-node;
  }
  &-vue {
    color: $color-vue;
  }
}